footer
    .container
        .row
            .col-md-4
                .footer-section
                    h5 Liên hệ
                    p
                    | Địa chỉ: 123 Đường ABC, TP.HCM
                    p
                    | Email: contact@bacola.com
                    p
                    | Số điện thoại: (028) 1234 5678
            .col-md-4
                .footer-section
                    h5 Mạng xã hội
                    a(href="https://facebook.com" target="_blank") 
                        i(class="fab fa-facebook") Facebook
                    a(href="https://twitter.com" target="_blank") 
                        i(class="fab fa-twitter") Twitter
                    a(href="https://instagram.com" target="_blank") 
                        i(class="fab fa-instagram") Instagram
            .col-md-4
                .footer-section
                    h5 Liên kết nhanh
                    a(href="#") Chính sách bảo mật
                    a(href="#") Điều khoản dịch vụ
                    a(href="#") Hỏi đáp
                    a(href="#") Giới thiệu