section.header-top
    span Do tình hình dịch bệnh Covid 19 nên các đơn hàng có thể được xử lý chậm một chút
header
    .container
        .row.d-flex.justify-content-between.align-items-center
            .col-md-3
                .logo
                    a(href="#") Bacola
            .col-md-6
                .search-bar
                    input(type="text" class="form-control" placeholder="Tìm kiếm...")
                    button(type="submit" class="btn btn-primary") Tìm kiếm
            .col-md-3
                .user-actions
                    //- a(href="#", class="login-btn") Đăng Nhập
                    //- a(href="#", class="register-btn") Đăng Ký
                    a(href="#", class="cart-btn") Giỏ hàng (3)
                    a(href="#", class="logout-btn") Đăng xuất                    

.navigation
    .container
        .row.d-flex.justify-content-between.align-items-center
            .col-md-3
                .category-btn
                button(class="btn btn-outline-primary")
                    i(class="fas fa-bars") Danh mục sản phẩm
            .col-md-9
                .nav-links.text-right.d-flex.justify-content-end
                    a(href="/") Trang chủ
                    a(href="#") Sản phẩm
                    a(href="#") Liên hệ
                    a(href="#") Giới thiệu