body {
  font-family: "Arial", sans-serif;
  background-color: #eee;
  position: relative;
  display: flex;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0 5px rgba(35, 34, 34, 0.1);
  .logo-admin {
    width: 15%;
    padding-left: 20px;
    a {
      color: black;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        padding: 0 10px;
      }
    }
    img {
      width: 35px;
    }
  }
  .page-title {
    width: 65%;
    border-left: 11px solid #eee;
    height: 50px;
    padding: 0 20px;
    span {
      line-height: 50px;
      font-weight: bold;
    }
  }
  .header-right {
    width: 20%;
    padding-right: 10px;

    ul {
      float: right;
      list-style-type: none;
      margin-bottom: 0px;
      li {
        color: #737373;
        font-size: 20px;
        padding: 5px;
        margin: 0 5px;
        .user {
          margin-left: 20px;
          background-color: #737373;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .notification,
      .setting {
        position: relative;
        .red-dot {
          position: absolute;
          top: 0px;
          right: 0px;
          transform: translate(50%, -50%);
          background-color: red;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
      }
    }
  }
}

#sidebar {
  min-width: 15%;
  min-height: 100vh;
  background-color: white;
  // box-shadow: 2px 0 5px rgba(85, 83, 83, 0.1);
  margin-top: 11px;
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 0;
  z-index: 10;
  .menu {
    border-bottom: 3px solid #e3e3e3;
    height: 50px;
    span {
      display: block;
      padding: 0 20px;
      font-weight: bold;
      line-height: 50px;
    }
  }
  ul {
    margin: 0;
    padding: 10px 0;
    border-bottom: 3px solid #e3e3e3;
    li {
      a {
        display: block;
        padding: 10px 0 10px 40px;
        color: #404040;
        text-decoration: none;
        position: relative;
        // .red-dot {
        //   position: absolute;
        //   top: 0px;
        //   right: 0px;
        //   transform: translate(50%, -50%);
        //   background-color: red;
        //   width: 6px;
        //   height: 6px;
        //   border-radius: 50%;
        // }
        span {
          padding: 0 10px;
        }
      }
    }
    li:hover {
      background-color: #e3e3e3;
    }
  }
}

#content {
  padding: 1rem;
  background-color: white;
}

#main {
  width: 85%;
  position: absolute;
  right: 0px;
  padding: 10px;
  margin-top: 50px;
  .main-top {
    margin-bottom: 10px;
    .form-filter-change-multi-search {
      span {
        font-size: 15px;
      }
      .form-filter {
        // width: 35%;
      }
      .form-change-multi {
        // width: 20%;
      }
      .form-search {
        width: 313px;
        input {
          width: 214px;
          padding: 8px 12px;
          border-radius: 0px;
          border-right: none;
        }
        button {
          border-left: none;
          border-radius: 0px;
        }
      }
      span {
        margin-left: 10px;
      }
    }
  }
  .main-top,
  .main-table {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    background-color: white;
  }

  .main-table {
    th {
      text-align: center;
    }
    td.td-image {
      width: 100px;
      padding: 0;
      overflow: hidden;
      .img-rotate {
        animation: spin 3s linear infinite; /* Quay liên tục */
      }
    }
    th.check-box {
      min-width: 43px;
    }
    .check-box {
      position: relative;
      label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        margin-bottom: 0;
        input {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .mgt-10px {
    margin-top: 10px;
  }
  .td-title {
    width: 200px;
  }
}
.mgr-10px {
  margin-right: 10px;
}
.mgr-5px {
  margin-right: 5px;
}
.mg-0px {
  margin: 0;
}

nav.pagination {
  margin-top: 10px;
  float: bottom;
}
.mgl-0px {
  margin-left: 0px;
}

.form-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 400px;
}

.detail {
  // padding-top: 100px;
  padding-top: 50px;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  .price {
    font-size: 1.5rem;
  }

  .discount {
    font-size: 1.25rem;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
  }
}

#img-preview {
  width: 140px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

span.star {
  color: #dc3545;
  font-weight: bold;
}

#create-product {
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  label {
    font-weight: bold;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pd-70px {
  padding: 70px;
}
.mgl-10px {
  margin-left: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}
