mixin form-trash(count)
    .card
        .card-header
            | Thùng rác (#{count})
        .card-body
            a.btn.btn-danger.mgr-10px(href="/administrator/products/trash") 
                i.fa-solid.fa-trash-can
                span Thùng rác
        