mixin form-change-multi()
    .card.mgr-10px.form-change-multi
        .card-header
            | Hành động
        .card-body
            form.d-flex.align-items-center(action="/administrator/products/change-multi?_method=PATCH" method="POST" form-change-multi) 
                select.custom-select.mgr-10px(name="action-type")
                    option(selected='' disabled) Chọn hành động
                    option(value='active') Hoạt động
                    option(value='inactive') Dừng hoạt động
                    option(value='delete-all') Xóa tất cả
                input.d-none(type="text", name="list-id")
                button.btn.btn-success.mg-0px(type="submit" button-status="active")
                    i.fa-solid.fa-arrow-right-long

mixin form-change-multi-trash()
    .card.mgr-10px.form-change-multi
        .card-header
            | Hành động
        .card-body
            form.d-flex.align-items-center(action="/administrator/products/change-multi?_method=PATCH" method="POST" form-change-multi) 
                select.custom-select.mgr-10px(name="action-type")
                    option(selected='' disabled) Chọn hành động
                    option(value='delete-all') Xóa tất cả
                    option(value='restore-all') Khôi phục

                input.d-none(type="text", name="list-id")
                button.btn.btn-success.mg-0px(type="submit" button-status="active")
                    i.fa-solid.fa-arrow-right-long