mixin form-add(content, link)
    .card.mgr-10px
        .card-header
            | #{content}
        .card-body
            a.btn.btn-success(href=link)
                i.fa-solid.fa-plus
                span #{content}