
extends ../../layouts/default.pug
include ../../mixins/form-alert.pug
include ../../mixins/form-select-tree.pug
include ../../mixins/not-access.pug

block main
  - if (role_user.permissions.includes("create_product"))
    - if (messages.messageError)
        +form-alert-error(messages.messageError)
    #create-product
      form(action="/administrator/products/create" method="POST" enctype="multipart/form-data")
        .mb-3
          label(for="title" class="form-label") 
            | Tiêu đề sản phẩm 
            span (
              span.star *
            span )  
          input#title.form-control(type="text" name="title" placeholder="Nhập tiêu đề sản phẩm" required)
        .mb-3
          label(for="title" class="form-label") 
            | Danh mục sản phẩm
          select.custom-select.form-control.mr-2(name="category")
              option(selected="selected" disabled) Chọn danh mục
              if (categories.length > 0) 
                  +form-select-tree(categories, 0)
        .mb-3
          label(for="description" class="form-label") Mô tả sản phẩm
          textarea#description.form-control.textarea-mce(name="description" placeholder="Nhập mô tả sản phẩm" rows="4")
        .row
          .col-md-3.mb-3
            label(for="price" class="form-label") Giá sản phẩm 
            span  ($)
            input#price.form-control(type="number" name="price" placeholder="Nhập giá sản phẩm" min="0" value="0" step="0.01")
          .col-md-3.mb-3
            label(for="discountPercentage" class="form-label") Phần trăm giảm giá 
            span  (%)
            input#discountPercentage.form-control(type="number" name="discountPercentage" placeholder="Nhập tỷ lệ giảm giá" min="0" max="100" value="0" step="0.01")
          .col-md-3.mb-3
            label(for="stock" class="form-label") Số lượng trong kho
            input#stock.form-control(type="number" name="stock" placeholder="Nhập số lượng sản phẩm trong kho" min="0" value="0")
          .col-md-3.mb-3
            label(for="position" class="form-label") Vị trí 
            span  (Tự động tăng)
            input#position.form-control(type="number" name="position" placeholder="Tự động tăng")
        .mb-3
            label(class="form-label") Trạng thái  
            span  (Mặc định là 
            span.text-success  Hoạt động
            span )
            .form-check
              input#statusActive.form-check-input(type="radio" name="status" value="active" checked)
              label.text-success(for="statusActive" class="form-check-label") Hoạt động
            .form-check
              input#statusInactive.form-check-input(type="radio" name="status" value="inactive")
              label.text-danger(for="statusInactive" class="form-check-label") Không hoạt động
        .mb-3
          label.mgr-10px(for="thumbnail" class="form-label") Hình ảnh sản phẩm
          input#thumbnail(type="file" name="thumbnail" accept="image/*")
          br
          img#img-preview(src="", alt="")

        button.btn.btn-primary(type="submit")
          i.fas.fa-save.mr-2
          | Thêm sản phẩm
  - else
    +not-access()