
extends ../../layouts/default.pug
include ../../mixins/form-filter.pug

block main 
    #create-product
        .row  
            .col-4  
                .card   
                    .card-header 
                        div Sản phẩm 
                    .card-body 
                        div Hoạt động: 10
                        div Không hoạt động: 0
            .col-4
                .card   
                    .card-header 
                        div Danh mục 
                    .card-body 
                        div Hoạt động: 10
                        div Không hoạt động: 0
            .col-4
                .card   
                    .card-header 
                        div Tài khoản 
                    .card-body 
                        div Hoạt động: 10
                        div Không hoạt động: 0