header
    .logo-admin
        a.navbar-brand(href="#")
            i.fa-solid.fa-user-tie
            span Admin Panel
    .page-title 
        span Administrator / #{pageTitle}
    .header-right
        ul.d-flex.j-space-bettwen.align-items-center
            li
                .setting
                    i.fa-solid.fa-gear
                    .red-dot
            li
                .notification
                    i.fa-solid.fa-bell
                    .red-dot
            li 
                i.fa-solid.fa-list-ul
            li 
                .user
                    img(src="/admin/images/user.png", alt="user")