header
    .logo-admin
        a.navbar-brand(href="/administrator/dashboard")
            img(src="/admin/images/control-panel.png", alt="user")
            span Admin Panel
    .page-title 
        span Administrator / #{pageTitle}
    .header-right
        ul.d-flex.j-space-bettwen.align-items-center
            li
                .setting
                    i.fa-solid.fa-gear
                    .red-dot
            li
                .notification
                    i.fa-solid.fa-bell
                    .red-dot
            li
                i.fa-solid.fa-list-ul
            li.infor-user
                a(href="/administrator/accounts/my-account").user
                    img(src="/admin/images/user.png", alt="user")
            
            li 
                a.logout(href="/administrator/auth/logout") 
                    i.fa-solid.fa-right-from-bracket
                    span.mgl-5px Đăng xuất