#sidebar
    .menu 
        span Menu
    ul
        li.side-item
            a(href="/administrator/dashboard")
                i.fa-solid.fa-chart-line
                span Tổng quan
                .red-dot
        - if (role_user.permissions.includes("view_product"))
            li.side-item
                a(href="/administrator/products") 
                    i.fa-brands.fa-dropbox
                    span Quản lý Sản phẩm
        - if (role_user.permissions.includes("view_category"))
            li.side-item
                a(href="/administrator/categories")
                    i.fa-solid.fa-layer-group
                    span Quản lý Danh mục
        - if (role_user.permissions.includes("view_accounts"))
            li.side-item
                a(href="/administrator/accounts") 
                    i.fa-solid.fa-users
                    span Quản lý Tài khoản
        - if (role_user.permissions.includes("view_roles"))
            li.side-item
                a(href="/administrator/roles") 
                    i.fa-solid.fa-shield
                    span Quản lý Nhóm quyền
        - if (role_user.permissions.includes("permissions"))
            li.side-item
                a(href="/administrator/roles/permissions") 
                    i.fa-solid.fa-universal-access
                    span Quản lý Phân Quyền

    .menu 
        span Truy cập nhanh
    ul
        li
            a(href="/")
                i.fa-solid.fa-right-from-bracket
                span Quay lại Website