#sidebar
    .menu 
        span Menu
    ul
        li.side-item
            a(href="/administrator")
                i.fa-solid.fa-chart-line
                span Tổng quan
                .red-dot
        li.side-item
            a(href="/administrator/products") 
                i.fa-brands.fa-dropbox
                span Quản lý Sản phẩm
        li.side-item
            a(href="#")
                i.fa-solid.fa-layer-group
                span Quản lý Danh mục
        li.side-item
            a(href="#") 
                i.fa-solid.fa-users
                span Quản lý Nhân viên

    .menu 
        span Truy cập nhanh
    ul
        li
            a(href="/")
                i.fa-solid.fa-right-from-bracket
                span Quay lại Website
        li
            a(href="/administrator/products") 
                i.fa-brands.fa-dropbox
                span Quản lý Sản phẩm
        li
            a(href="#")
                i.fa-solid.fa-layer-group
                span Quản lý Danh mục
        li
            a(href="#") 
                i.fa-solid.fa-users
                span Quản lý Nhân viên
